doctype html
html(lang='en')
    head
        title=`Demo API 404`
        link(type='image/png', rel='shortcut icon', href=`/favicon`)
        style
            include styles/bootstrap.css
            include styles/header.css
    body
        .header
            h1.h-100.vert-center.text-white.hort-center='Express Cleaner Preview'
        .p-3
            .card.w-100
                .card-header
                    span.h2.text-danger.float-left.mr-1=`${status_code}:`
                    span.h2.float-left=`Route Not Found`
                .card-body.p-3
                    .card.card-outline-secondary
                        .card-header
                            h5=`Path: ${path} (${status_message})`
                        code.card-body
                            p=`Searched url: ${protocol}://${hostname}${originalUrl}`
                            p=`Searched protocol: ${protocol}`
                            p=`Searched host name: ${hostname}`
                            p=`Searched path: ${path}`
